$font-default: 'Poppins';
$font-size: 0.8rem;
$font-color: white;

html, body{
    font-family: $font-default, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px){
    #contact{
        text-align: center;
        font-size: $font-size;
        line-height: 0.1;
        border-bottom: 1px solid lightgray;
        height: 15vh;
        padding-bottom: 10px;
        #contact-container{
            max-width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        .email-icon{
            width: 100%;
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
    #navegation{
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0.8rem;
        height: 15vh;
        #logo{
            p span{
                font-weight:bolder;
                padding: 0 3px;
                border-radius: 3px;
                background-color: lightgreen;
                color: $font-color;
            }
        }
        ul{
            display: flex;
            gap: 20px;

            li{
                list-style: none;
            }
        }
    }

    #hero{
        #home{
            width: 100%;
            max-width: 100%;
            height: 80vh;
            #meet-doctors{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url('../assets/images/slider1.jpg');
                background-position: center;
                background-size:150%;
                height: auto;
                min-height: 100vh;
                width: 100%;
                max-width: 100vw;
                h2{
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 100;
                    color: $font-color;
                }
                h1{
                    color: $font-color
                }
                #button-meet{
                    background-color: #A1C126;
                    color: $font-color;
                    border-style: none;
                    font-size: 1rem;
                    padding: 18px;
                    border-radius: 5px;
                }
            }
        }
        #about{
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),url('../assets/images/about-bg.jpg');
            background-position: top;
            background-size: cover;
            max-width: 100%;
            width: 100%;
            height: auto;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            #about-container{
                max-width: 100vw;
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                position: relative;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 10px;         
                color: white;
                padding: 10px;
                .title-about{
                    font-size: 1.7rem;
                    text-align: center;
                    span{
                        background-color: lightgreen;
                        border-radius: 2px;
                        font-size: 1.5rem;
                        color: black;
                    }
                }
                figure{
                    display:flex;
                    width: 100%;
                    align-items:center;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        padding: 0;
                        padding-left: 10px;
                        object-fit: cover;
                    }
                    figcaption{
                        padding-left: 15%;
                        h3{
                            line-height: 0.2;
                        }
                    }
                }
            }
        }
        #our-doctors{
            .doctor{
                figure{
                    #doctor-1{
                        max-width: 100%;
                        height: 100%;
                    }
                    figcaption{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        h3, p{
                            margin: 0;
                            padding: 10px;
                        }
                        p{
                            padding-bottom: 20px;
                        }
                        address:first-of-type {  
                            padding-top: 20px;
                        }
                        :nth-last-child(3){
                            border-bottom: 1px solid gainsboro;
                        }
                    }
                }
            }
           
        }
    }
}