$font-default: 'Poppins';
$font-size: 0.8rem;

html{
    font-family: $font-default, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px){

    #contact{
        text-align: center;
        font-size: $font-size;
        line-height: 0.1;
        border-bottom: 1px solid lightgray;
        height: 15vh;
        #contact-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        .email-icon{
            width: 100%;
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
    #navegation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0.8rem;
        height: 15vh;
        #logo{
            p span{
                font-weight: bolder;
                border: 1px solid black;
                border-radius: 3px;
                background-color: lightgreen;
                color: white;
            }
        }
        ul{
            display: flex;
            gap: 20px;

            li{
                list-style: none;
            }
        }
    }
    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../assets/images/slider1.jpg');
        background-position: center;
        background-size:200%;
        height: 67.2vh;
        width: 100%;
    }
        h2{
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 100;
            color: white;
        }
}